<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fight</title>
</head>
<body>
<span id="fightEnd">q</span>
<div class="ennemy">
    <h1 class="nameEnnemy">{{ pokemon.name }} has appeared</h1>
    <progress id="healthEnnemy" value="1000" max="1000"></progress>
    <img class="ennemyImg" src="{{ pokemon.sprites.front_default }}">
</div>
<div class="myPokemon">
    <h2 class="nameMyPokemon">{{ equipe.0.name }}</h2>
    <progress id="healthMyPokemon" value="1000" max="1000"></progress>
    <img class="myPokemonImg" src="{{ equipe.0.sprites.front_default }}"><br><br>
    {% for move in movesTeam %}
        <button class="movesMyPokemon" onclick="attacked({{ move.power }})">{{ move.name }}</button>
    {% endfor %}
</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    function attacked(move) {
        let health = document.getElementById("healthEnnemy")
        let moveDammages = move;
        let attackStat = parseInt({{ equipe.0.stats.4.base_stat }})
        health.value -= moveDammages+attackStat
        if (health.value <= 0) {
            document.getElementById("fightEnd").innerHTML = "Vous avez gagnez le combat et " + {{ pokemon.base_experience }} + " Proképièces"
            $.ajax({
                url: '/pokemon/fightWon/' + {{pokemon.base_experience}},
                dataType: 'json'
            })
            setTimeout(function () {history.go(-1)
            }, 500)
            return;
        }
        ennemyAttack()
    }

    function ennemyAttack() {
        let attackPower = parseInt({{ pokemon.stats.4.base_stat }})
        rand = random(0, 3)
        console.log(attackPower)
        let health = document.getElementById("healthMyPokemon")
        if (rand === 0) {
            try{
                health.value -= {{ moves.0.power }}
            }
            catch (e) {
                return;
            }
        } else if (rand === 1) {
            try{
                health.value -= {{ moves.1.power }}
            }
            catch (e) {
                return;
            }
        } else if (rand === 2) {
            try{
                health.value -= {{ moves.2.power }}
            }
            catch (e) {
                return;
            }
        } else {
            try{
                health.value -= {{ moves.3.power }}
            }
            catch (e) {
                return;
            }
        }
        health.value -= attackPower
        if (health.value <= 0) {
            document.getElementById("fightEnd").innerHTML = "Vous avez perdu le combat"
        }
    }

    function random(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }
</script>